<div class="main-page-layout">
  <h1 class="underline-anim">Categories:</h1>

  <div class="categories">
    @for (category of categories; track category.id) {
    <a
      [href]="
        '/categories/category?name=' +
        category.name +
        '&categoryId=' +
        category.id
      "
      class="card"
    >
      <div class="image-container">
        <img [src]="backendUrl + category.image" alt="category image" />
      </div>
      <div class="card-content">
        <h3>{{ category.name }}</h3>
        <p class="description">
          {{ category.description }}
        </p>
        <p class="question-count">{{ category.subtopics }} questions</p>
      </div>
    </a>
    }
  </div>
</div>
