<div class="main-page-layout">
  <h1 class="underline-anim">Last Questions:</h1>
  <div class="last-questions">
    @for (question of lastQuestions; track question.id) {
    <div class="question-container">
      <a
        class="question-title"
        [href]="
          '/categories/category/question?categoryName=' +
          question.topic +
          '&questionId=' +
          question.id
        "
      >
        {{ question.name }}
      </a>
      <p class="question-description">
        {{ question.description }}
      </p>
      <div class="question-infos">
        <p class="response-count">{{ question.messages }} answers</p>
        <p class="created-at">
          Asked {{ question.createdAt | date : "MMM. d yyyy 'at' HH:mm" }}
        </p>
      </div>
    </div>
    }
  </div>

  <h1 class="underline-anim">Browse Categories:</h1>
  <div class="categories">
    @for (category of categories; track category.id) {
    <a
      [href]="
        '/categories/category?name=' +
        category.name +
        '&categoryId=' +
        category.id
      "
      class="card"
    >
      <img [src]="backendUrl + category.image" alt="category image" />
      <p class="underline-anim">{{ category.name }}</p>
    </a>
    }
  </div>
</div>
