<div class="main-page-layout">
  <h1 class="underline-anim">Last Questions:</h1>
  <div class="last-questions"></div>

  <h1 class="underline-anim">Browse Categories:</h1>
  <div class="categories">
    <a href="/categories/category?name=Funitures" class="card">
      <img src="/assets/Furniture-repair.jpg" alt="furnitures image" />
      <p class="underline-anim">Furnitures</p>
    </a>
    <a href="/categories/category?name=Paint" class="card">
      <img src="/assets/paint.jpg" alt="painting image" />
      <p class="underline-anim">Paint</p>
    </a>
    <a href="/categories/category?name=Garden" class="card">
      <img src="/assets/garden.jpg" alt="garden image" />
      <p class="underline-anim">Garden</p>
    </a>
    <a href="/categories/category?name=Wiring" class="card">
      <img src="/assets/electrical-repair.png" alt="electrical image" />
      <p class="underline-anim">Wiring & Domotics</p>
    </a>
    <a href="/categories/category?name=Plumbing" class="card">
      <img src="/assets/plumbing.png" alt="plumbing image">
      <p class="underline-anim">Bathroom & Plumbing</p>
    </a>
    <a href="/categories/category?name=Repairs" class="card">
      <img src="/assets/Repair-diy.jpg" alt="repair-diy image" />
      <p class="underline-anim">Repairs & DIY</p>
    </a>
    <a href="/categories/category?name=Kitchen" class="card">
      <img src="/assets/kitchen-repair.jpg" alt="kitchen image" />
      <p class="underline-anim">Kitchen</p>
    </a>
  </div>
</div>
